body{
    background-color:black !important;
    /* overflow: scroll; */
    background-image: url(https://wallpaperplay.com/walls/full/b/6/d/54076.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
    height: 100vh;
}

.introclass{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-left: 5%;
    height: fit-content!important;
    /* background-color: #0066ff; */
    background-image: url(https://ak.picdn.net/shutterstock/videos/20473897/thumb/1.jpg);
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    opacity: 0.8;
    margin-top: 15px;
    border-radius: 500px;
    color: red;
}
.logout{
    margin-left: 25vw;
    margin-top: 20px;
    height: 6vh;
    width: 10vh;
    background-color: red;
    border-radius: 20px;
}
.allavailablesub{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    height: fit-content!important;
    height: 100vh;
    /* background-color: #0066ff; */
    opacity: 0.8;
font-size: 5vh;
color: #ff0066;
border-radius: 200px;
background-image: url(https://ak.picdn.net/shutterstock/videos/20473897/thumb/1.jpg);
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
    padding-bottom: 5vh!important;
}

.allavailablesubinner{
    padding-left: 30%;
    border-radius: 200px;
}

#misseddates{
    background-color: red;
    height: 5vh;
    width: 25vh;
    border-radius: 20px;
}

.chartpart{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-top: 10vh!important;
    height: 100vh;
    /* background-color: #0066ff; */
    background-image: url(https://ak.picdn.net/shutterstock/videos/20473897/thumb/1.jpg);
    padding-bottom: 5vh!important;
    height: fit-content!important;
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;  
    opacity: 0.8;
    border-radius: 200px;
}

.status{
    margin-left: 30%;
    margin-top: 10px;
    font-size: 200%!important;
}

.leftside{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-top: 10vh!important;
    height: 100vh;
    /* background-color: #0066ff; */
    background-image: url(https://ak.picdn.net/shutterstock/videos/20473897/thumb/1.jpg);
    padding-bottom: 5vh!important;
    height: fit-content!important;
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    border-radius: 200px;
    opacity: 0.8;
}

.warnheading,.warnheadingchart{
    margin-left: 20%;
    font-size: 200%!important;
    color: #ff0066;
}
.dates{
    padding-left: 10vw!important;
    font-size: 120%!important;
    color: #ff0066;
}

.rightside{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-top: 20vh!important;
    padding-bottom: 20vh!important;
    height: 100vh;
    opacity: 0.8;
    /* background-color: #0066ff; */
    background-image: url(https://ak.picdn.net/shutterstock/videos/20473897/thumb/1.jpg);
    height: fit-content!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    border-radius: 200px;
}

.selectdate{
    /* margin-top: 25vh; */
    margin-left: 30%;
}
.addsubject{
    margin-left: 30%;
    font-size: 200%!important;
}

#addsubjectname{
    border-radius: 20px;
}
#addtotalpresent{
    margin-left: 10%;
    border-radius: 20px;
}

#datesubbunk{
    margin-top: 20px;
    border-radius: 20px;
}

.addsubject{
    background-color: red;
    border-radius: 20px;
    margin-right: 30%;
    margin-top: 10px;
    text-align: center;
}

#datesubmit{
    margin-left: 10%;
    width:10vw;
    border-radius: 500px;
    background-color: red;
}

#subjectheader{
font-size: 200%;
color: beige;
}
#addbunkdate{
font-size: 400%;
color: beige;
}
#subjectheader{
    margin-left: 0px!important;
}
#logout{
   width: 10vh;
}