body{
    background-color:black !important;
    /* overflow: scroll; */
    background-image: url(background.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
    height: 100vh;
}

.introclass{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-left: 25%;
    background-color: #0066ff;
    opacity: 0.8;
    margin-top: 15px;
    border-radius: 500px;
    color: red;
}
.logout{
    margin-left: 25vw;
    margin-top: 20px;
    background-color: red;
    border-radius: 20px;
}
.allavailablesub{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    height: 100vh;
    background-color: #0066ff;
    opacity: 0.8;
font-size: 5vh;
color: #ff0066;
border-radius: 200px;
}

.allavailablesubinner{
    padding-left: 40%;
    border-radius: 200px;
}

#misseddates{
    background-color: red;
    
    border-radius: 20px;
}

.chartpart{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-top: 10vh!important;
    height: 100vh;
    background-color: #0066ff;
    opacity: 0.8;
    border-radius: 200px;
}

.status{
    margin-left: 30%;
    margin-top: 10px;
    font-size: 200%!important;
}

.leftside{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-top: 10vh!important;
    height: 100vh;
    background-color: #0066ff;
    border-radius: 200px;
    opacity: 0.8;
}

.warnheading,.dates{
    margin-left: 20%;
    font-size: 200%!important;
    color: #ff0066;
}

.rightside{
    width: 80vw;
    margin-left: 10vw!important;
    margin-right: 10vw!important;
    padding-top: 10vh!important;
    height: 100vh;
    opacity: 0.8;
    background-color: #0066ff;
    border-radius: 200px;
}

.selectdate{
    margin-left: 30%;
}
.addsubject{
    margin-left: 30%;
    font-size: 200%!important;
}

#addsubjectname{
    border-radius: 20px;
}
#addtotalpresent{
    margin-left: 10%;
    border-radius: 20px;
}

#datesubbunk{
    margin-top: 20px;
    border-radius: 20px;
}